{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>عملية دفع</title>
    <link rel="stylesheet" href="{% static 'style/form.css' %}">
</head>
<body>

    <div class="container">
        <h2>اتمام عميلة سحب مبلغ 100$</h2>
        <input type="text" placeholder="الاسم بالكامل">
        <input type="email" placeholder="البريد الالكنروني">
        <input type="text" placeholder="رقم البطاقة">    
        <input type="text" placeholder="رقم cvc">
        <input type="text" placeholder="تاريخ انتهاء البطاقة">

        <div class="btns">
            <a href="#" class="cancel">الغاء</a>
            <button>تسجيل</button>
        </div>
    </div>
    
    
</body>
</html>