{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الصفحة الشخصية</title>
    <link rel="stylesheet" href="{% static 'style/profile.css' %}">
</head>
<body>
    
    <div class="container">
        
        <div class="up">
            <h2>{{c_user.full_name}}</h2>

            <div>
                <p>الرصيد الحالي</p>
                <p class="balance">${{c_user.balance}}</p>
            </div>
        </div>

        <form class="btns" method="GET">
            <input type="number" name="amount" placeholder="أدخل المبلغ">
            <button type="submit" class="create">انشاء رابط دفع</button>
            {% for m in  messages %}
                <button type="button" class="copy" data-url="http://127.0.0.1:8000{% url 'payment' m %}" id="copy">نسخ الرابط</button>
            {% endfor %}
            <button class="logout" onclick="window.location.href = '/logout/' ">تسجيل الخروج</button>
            
        </form>

        <div class="table">
            <div class="main">
                <p>اسم المستخدم</p>
                <p>البريد الالكتروني</p>
                <p>المبلغ</p>
                <p>تاريخ الدفع</p>
            </div>
            
            {% for payment in payments %}
                
                <div class="info {% if payment.payment_state == 'done' %}success{% else %}fail{% endif %}">
                    <p>{{payment.full_name}}</p>
                    <p>{{payment.email}}</p>
                    <p>{{payment.amount}}$</p>
                    <p>{{payment.datetime}}</p>
                </div>
            {% endfor %}


        </div>

    </div>


    <script>
        var cpyBtn = document.getElementById('copy');

        cpyBtn.addEventListener('click', ()=>{
            navigator.clipboard.writeText(cpyBtn.dataset.url);
            alert("تم نسخ الرابط بنجاح");
        })

    </script>
</body>
</html>